// blue
$color-design-1: #3f60ac;
$color-design-2: #466bb3;
$color-design-3: #6485c3;

// aqua
$color-design-4: #61c5c1;
$color-design-5: #83cfcf;
$color-design-6: #a6dbdd;

// yellow
$color-design-7: #feca07;
$color-design-8: #ffd964;
$color-design-9: #f8efd2;

// red
$color-design-10: #ed1c24;
$color-design-11: #f05d68;
$color-design-12: #f6a2aa;

// black
$color-design-13: #343534;
$color-design-14: #666666;
$color-design-15: #d8d8d7;

$color-design-16: #24ed1c;
$color-design-17: #ffffff;

$color-black: black;
$color-gray: #cccccc;














